<h1>Contacts</h1>
<%= form_for :contacts, url: 'home_contacts' do |f| %>
  <p>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>

<% end %>